nav{
    height:10vh;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
    background-color: rgb(241, 142, 159);
}
nav ul{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color:maroon;
    font-weight: 900;
    font-size:30px;
    transition: all 3s;
}
nav ul li a:hover{
    border-bottom: 2px solid black;
}
@media screen and (max-width:400px) {
    nav ul li a{
        text-decoration: none;
        color:black;
        font-size:15px;
    }
}